<script setup>
import CollectionEditor from "src/collections/CollectionEditor.vue";
import {defineProps, ref} from "vue";
import rules from '@wapdc/pdc-ui/rules'
const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})
const emit = defineEmits('saveCollection', 'cancel')
const collection = props.collection;

const year = ref(props.collection.year ?? null)
const isNotFiled = ref(props.collection.is_not_filed ?? true)
const isSubmittedLate = ref(props.collection.is_submitted_late ?? false)
const isAmendedLate = ref(props.collection.is_amended_late ?? false)

function doSave() {
  collection.metadata.year = year.value
  collection.metadata.is_not_filed = isNotFiled.value
  collection.metadata.is_submitted_late = isSubmittedLate.value
  collection.metadata.is_amended_late = isAmendedLate.value
  collection.group = year.value
}
</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave" @cancel="emit('cancel')">
    <q-input label="Year" v-model="year" :rules="[rules.required]"/>
    <q-checkbox v-model="isNotFiled" label="Is not filed" />
    <q-checkbox v-model="isSubmittedLate" label="Is submitted late" />
    <q-checkbox v-model="isAmendedLate" label="Is amended late" />
  </collection-editor>
</template>

<style scoped>

</style>
