<script setup>
import {defineProps, ref, watch} from 'vue'
import CollectionEditor from "src/collections/CollectionEditor.vue";
import rules from "@wapdc/pdc-ui/rules";
import {formatC4ReportType, useCompliance} from "src/compliance";

const {awsGateway} = await useCompliance();
const props = defineProps({
  collection: {
    type: Object,
    required: true,
  },
  templateType: {
    type: String,
    required: true,
  }
})
const emit = defineEmits('saveCollection', 'cancel')
const collection = props.collection;
const templateType = props.templateType;
const reportingPeriodType = ref([])
const selectedReportingPeriodType = ref(null)

const updateReportingPeriodType = async (electionCode) => {
  selectedReportingPeriodType.value = null
  collection.group = electionCode
  let reportingTypeUrl
  if (templateType === 'candidacy-missing-C4-reports-primary') {
    reportingTypeUrl = `/collection/reporting-period-type/` + electionCode + 'P'
  } else {
    reportingTypeUrl = `/collection/reporting-period-type/` + electionCode
  }
  reportingPeriodType.value = await awsGateway.get(reportingTypeUrl)
}

// Initialize election_code directly, if not present to default current year
if (!collection.metadata.election_code) {
  collection.metadata.election_code = new Date().getFullYear().toString()
  await updateReportingPeriodType(collection.metadata.election_code)
}


watch(() => collection.metadata.election_code, async (newElectionCode, oldElectionCode) => {
  if (newElectionCode !== oldElectionCode) {
    // validate if the newElectionCode is a valid year (a four-digit number)
    if (/^\d{4}$/.test(newElectionCode)) {
      await updateReportingPeriodType(newElectionCode)
    }else {
      reportingPeriodType.value = []
      selectedReportingPeriodType.value = null
    }
  }
});

function doSave() {
  const selectedPeriod = reportingPeriodType.value.find(period => period.id === selectedReportingPeriodType.value)
  collection.metadata.reporting_period_id = selectedReportingPeriodType.value
  collection.metadata.start_date = selectedPeriod.start_date
  collection.metadata.end_date = selectedPeriod.end_date
  collection.metadata.report_name = formatC4ReportType(selectedPeriod.type)
  collection.metadata.due_date = selectedPeriod.due_date
}

</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave">
    <q-input label="Year" v-model="collection.metadata.election_code"  :rules="[rules.requireString]"/>
    <q-select label="Reporting period " v-model="selectedReportingPeriodType"
              :options="reportingPeriodType.map(option => ({...option, type: formatC4ReportType(option.type)}))"
              clearable
              emit-value
              map-options
              :rules="[rules.required]"
              option-value="id"
              option-label="type"
    />
  </collection-editor>
</template>
