<script setup>
import {defineProps, reactive, ref, watch} from 'vue'
import CollectionEditor from "src/collections/CollectionEditor.vue";
import rules from "@wapdc/pdc-ui/rules";
import {useCompliance} from "src/compliance";

const {awsGateway} = await useCompliance();
const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})
const emit = defineEmits('saveCollection', 'cancel')
const collection = reactive(props.collection);

watch(() => collection.metadata.election_code, () => {
  collection.group = collection.metadata.election_code;
})

const jurisdiction_categories = ref([]);
const jurisdictions = ref([]);
const offices = ref([]);

jurisdiction_categories.value = await awsGateway.get(`jurisdiction-category`);
jurisdictions.value = await awsGateway.get(`jurisdictions`);
offices.value = await awsGateway.get(`offices`);

const hasPosition = ref(false)
const hasExitReason = ref(false)
const isDeclared = ref(false)
const selectedOffices = ref([]);
const selectedJurisdictions = ref([])
const jurisdictionCategory = ref(null)

function doSave() {
  // Only save these if values are selected so that we have null values on new collections.
  collection.metadata.has_exit_reason = hasExitReason.value;
  collection.metadata.has_position = hasPosition.value;
  collection.metadata.is_declared = isDeclared.value;
  collection.metadata.jurisdiction_category = jurisdictionCategory.value;
  if (selectedOffices.value.length > 0) {
    collection.metadata.offices = selectedOffices.value;
  }
  if (selectedJurisdictions.value.length > 0) {
    collection.metadata.jurisdictions = selectedJurisdictions.value
  }
}


</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave">
    <q-input label="Year" v-model="collection.metadata.election_code" :rules="[rules.requireString]"/>
    <q-checkbox v-model="hasExitReason" label="Has exit reason" />
    <q-checkbox v-model="isDeclared" label="Is declared" />
    <q-checkbox v-model="hasPosition" label="Has position" />
    <q-select v-model="jurisdictionCategory"
              :options="jurisdiction_categories"
              clearable
              emit-value
              map-options
              option-label="short_name"
              option-value="jurisdiction_category_id"
              label="Jurisdiction category" />
    <q-select v-model="selectedJurisdictions"
              :options="jurisdictions"
              clearable
              emit-value
              multiple
              option-value="jurisdiction_id"
              option-label="name"
              map-options
              label="Jurisdiction" />
    <q-select v-model="selectedOffices"
              :options="offices"
              multiple
              clearable
              emit-value
              map-options
              option-value="offcode"
              option-label="offtitle"
              label="Offices" />
  </collection-editor>
</template>

