<script setup>

import {defineEmits, defineProps, reactive, ref} from 'vue'
import rules from '@wapdc/pdc-ui/rules'

const props = defineProps({
  collection: {
    type: Object,
    required: true
  }
})
const emit = defineEmits(['saveCollection', 'cancel'])
const collection = reactive(props.collection)
const title = ref("")

function doSave() {
  collection.title = title.value
  emit('saveCollection', collection)
}
</script>

<template>
  <q-card>
    <q-form @submit="doSave">
      <q-card-section>
        <div class="text-h6">Collection Editor</div>
        <q-input v-model="title" label="Title" :rules="[rules.requireString]"/>
        <slot name="default">
        </slot>
      </q-card-section>
      <q-card-actions>
        <q-btn type="submit" color="primary" icon="save" label="Save"/>
        <q-btn icon="cancel" label="Cancel" @click="emit('cancel')"/>
      </q-card-actions>
    </q-form>
  </q-card>
</template>
