<script setup>
import {defineProps, watch} from 'vue'
import CollectionEditor from "src/collections/CollectionEditor.vue";
import rules from "@wapdc/pdc-ui/rules";

const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})
const emit = defineEmits('saveCollection', 'cancel')
const collection = props.collection;

watch(() => collection.metadata.election_code, () => {
  collection.group = collection.metadata.election_code;
})

function doSave() {
  collection.group = collection.metadata.election_code;
}
</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave" @cancel="emit('cancel')">
    <q-input label="Year" v-model="collection.metadata.election_code" :rules="[rules.requireString, rules.reasonableReportingYear]"/>
  </collection-editor>
</template>
