<script setup>

import CollectionEditor from "src/collections/CollectionEditor.vue";
import {defineProps, reactive, ref} from "vue";
import {useCompliance} from "src/compliance";
const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})
const collection = reactive(props.collection)
const reportingCategories = [
  {label: 'C only', value: '1'},
  {label: 'C and F', value: '2'},
  {label: 'All', value: '3'}
]
const reportingCategory = ref('1')
const selectedJurisdictionCategories = ref([])
const {awsGateway} = await useCompliance()

const jurisdictionCategories = await awsGateway.get(`jurisdiction-category`);

function doSave() {
  collection.group = (new Date()).getFullYear().toString()
  collection.metadata.reporting_category = reportingCategory.value;
  if (selectedJurisdictionCategories.value.length > 0) {
    collection.metadata.jurisdiction_categories = selectedJurisdictionCategories.value;
  }
}
</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave">
    <q-option-group type="radio" v-model="reportingCategory" :options="reportingCategories"/>
    <q-select multiple
              emit-value
              map-options
              clearable
              v-model="selectedJurisdictionCategories"
              :options="jurisdictionCategories"
              option-label="short_name"
              option-value="jurisdiction_category_id"
              label="Filter based on category of jurisdiction, leave blank for no filter.">
    </q-select>
  </collection-editor>
</template>

<style scoped>

</style>
