<script setup>
import moment from 'moment'
import CollectionEditor from "src/collections/CollectionEditor.vue";
import {defineProps, ref} from "vue";
import rules from "@wapdc/pdc-ui/rules";

const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})

const collection = props.collection;
const year = ref(props.collection.year ?? null)
const month = ref(null)
const months = moment.months().map((m, i) => ({label: m, value: i + 1}))
// const emit = defineEmits('saveCollection', 'cancel')

function doSave() {
  collection.metadata.year = year.value
  collection.metadata.month = month.value
  collection.group = year.value;
  collection.metadata.period_name = moment(`${year.value}-${month.value}-01`).format('MMMM YYYY');
}
</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave" @cancel="emit('cancel')">
    <q-input label="Year" v-model="year" :rules="[rules.required]"/>
    <q-select label="Month" :rules="[rules.required]" v-model="month" :options="months" emit-value map-options/>
  </collection-editor>
</template>
