<script setup>

import CollectionEditor from "src/collections/CollectionEditor.vue";
import PDatePicker from '@wapdc/quasar-app-extension-pdc-ui/src/components/PDatePicker.vue'
import {defineProps, reactive, ref} from "vue";

const confirmedDate = ref("")
const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})

const collection = reactive(props.collection)

function doSave() {
  collection.metadata.confirmed_date = confirmedDate.value;
  collection.group =   collection.group = (new Date()).getFullYear().toString()
}

</script>

<template>
  <collection-editor :collection="props.collection" @save-collection="doSave">
     <p-date-picker v-model="confirmedDate" label="Not confirmed since" :required="true"/>
  </collection-editor>
</template>
