<script setup>

import {defineProps, ref} from 'vue'
import CollectionEditor from "src/collections/CollectionEditor.vue";
import {useCompliance} from "src/compliance";

const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})
const emit = defineEmits('saveCollection', 'cancel')
const collection = props.collection;
const {awsGateway} = await useCompliance()
const selectedJurisdictionCategories = ref([])
const jurisdictionCategories = await awsGateway.get(`jurisdiction-category`);

function doSave() {
  collection.metadata.year = year.value;
  collection.group = year.value;
  if (selectedJurisdictionCategories.value.length > 0) {
    collection.metadata.jurisdiction_categories = selectedJurisdictionCategories.value;
  }
}

const year = ref(props.collection.year ?? null)

</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave">
    <q-input label="Year" v-model="year"/>
    <q-select multiple
              emit-value
              map-options
              clearable
              v-model="selectedJurisdictionCategories"
              :options="jurisdictionCategories"
              option-label="short_name"
              option-value="jurisdiction_category_id"
              label="Filter based on category of jurisdiction, leave blank for no filter.">
    </q-select>
  </collection-editor>
</template>
