<script setup>
import {defineProps, ref} from 'vue'
import CollectionEditor from "src/collections/CollectionEditor.vue";

const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})
const emit = defineEmits('saveCollection', 'cancel')
const collection = props.collection;
const year = ref(props.collection.year ?? null)
const hasUserAccount = ref(null)
const hasSubcontractor = ref(null)
const options = ref([
  { value: 'true', label: 'Yes' },
  { value: 'false', label: 'No' }
]);
function doSave() {
// Only save these if values are selected so that we have null values on new collections.
  collection.metadata.year = year.value;
  collection.group = year.value;
  collection.metadata.has_user_account = hasUserAccount.value;
  collection.metadata.has_subcontractor = hasSubcontractor.value;
}
</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave">
    <q-input label="Year" v-model="year"/>
    <q-select v-model="hasUserAccount"
              :options="options"
              clearable
              emit-value
              option-value="value"
              option-label="label"
              map-options
              label="Has User Account" />
    <q-select v-model="hasSubcontractor"
              :options="options"
              clearable
              emit-value
              option-value="value"
              option-label="label"
              map-options
              label="Has Subcontractor" />
  </collection-editor>
</template>
