<script setup>

import {defineProps, ref} from 'vue'
import CollectionEditor from "src/collections/CollectionEditor.vue";

const props = defineProps({
  collection: {
    type: Object,
    required: true,
  }
})
const emit = defineEmits('saveCollection', 'cancel')
const collection = props.collection;

function doSave() {
  collection.metadata.year = year.value;
  collection.group = year.value;
}

const year = ref(props.collection.year ?? null)

</script>

<template>
  <collection-editor :collection="collection" @save-collection="doSave">
    <q-input label="Year" v-model="year"/>
  </collection-editor>
</template>
