<script setup>
import { ref } from "vue";
import { useCompliance } from "src/compliance";

const { awsGateway } = await useCompliance();
const reportsList = ref([]);
const pagination = ref({
  page: 1,
  rowsPerPage: 10
});
const filing_day = ref(null)

async function getReportsCountC4() {
  const result = await awsGateway.get('/reports/C4-report-compliance', true , {params: {filing_day: filing_day.value}});
  if (result) {
    reportsList.value  = [].concat(...result.map(election =>
      election.report_counts.reports.map(report => ({
        election_code: election.election_code,
        election_type: report.election_type,
        PostCombined: `${report.Post} / ${report.PostFullCount}`,
        TwentyOneDayCombined: `${report.TwentyOneDay} / ${report.TwentyOneDayFullCount}`,
        SevenDayCombined: `${report.SevenDay} / ${report.SevenDayFullCount}`
      }))
    ))
  }
}
await getReportsCountC4();
</script>

<template>
  <h1>C4 Report Compliance</h1>
  <p>This report shows the total number of candidates that have filed special reporting period reports as of the beginning of day specified.
  If no date is specified, it will show all filings up until the current time.</p>
  <form @submit="getReportsCountC4">

    <div class="row items-center">
      <p-date-picker class="q-mr-md" v-model="filing_day" label="As of" />
      <div><q-btn type="submit" color="primary" label="refresh" rounded icon="refresh" small/></div>
    </div>
  </form>
  <p-search-rows v-if="reportsList"
                 :rows="reportsList"
                 :searchKeys="['election_code']"
                 class="q-pb-md">
    <template v-slot:results="{ results }">
      <q-table
        ref="qTable"
        :rows="results"
        :columns="[
          { name: 'election_type', label: 'Election', field: 'election_type', align: 'left', sortable: true },
          { name: 'election_code', label: 'Year', field: 'election_code', align: 'left', sortable: true },
          { name: 'TwentyOneDay', label: 'Twenty One Day', field: 'TwentyOneDayCombined', align: 'left', sortable: true },
          { name: 'SevenDay', label: 'Seven Day', field: 'SevenDayCombined', align: 'left', sortable: true },
          { name: 'Post', label: 'Post', field: 'PostCombined', align: 'left', sortable: true }
             ]"
        :rows-per-page-options="[10, 20, 50, 100]"
        v-model:pagination="pagination"
      >
      </q-table>
    </template>
  </p-search-rows>
</template>
