<script setup>
import {reactive, ref, watch} from 'vue';
import {formatDate} from "@wapdc/pdc-ui/util";
import rules from "@wapdc/pdc-ui/rules";
import {useRoute, useRouter} from 'vue-router';
import {useCollections, useCompliance} from "src/compliance";
import CollectionEditor from "src/collections/CollectionEditor.vue";

const {collectionTargets, getCollectionUi} = useCollections();

const router = useRouter();
const route = useRoute();
// Selecting type of collection
const target = ref("lobbyist_firm");

function onTargetChange() {
  router.replace({name: 'TargetCollections', params: {target: target.value}})
}

watch(() => route.params.target, () => {
  target.value = route.params.target
  loadCollections()
})

// Loading collections
const collectionList = ref([]);
const pagination = ref({
  page: 1,
  rowsPerPage: 10
});
const listOfTemplates = ref([])
const {awsGateway} = await useCompliance();

if (route.params.target) {
  target.value = route.params.target;
}

const collectionChips = ref([]);

async function loadCollections() {
  collectionList.value = await awsGateway.get('/collections/' + target.value);

  listOfTemplates.value = collectionTargets.find(collection => {
    return (collection.target === target.value)
  }).collections

  collectionChips.value = collectionTargets.map(collection => {
    return {
      label: collection.label,
      value: collection.target
    }
  })
}

// Creating new collections.
const emptyCollection = {
  title: null,
  group: null,
  metadata: {}
}
const collectionCreateDialog = ref(false);
const templateChosen = ref(false);
const collection = reactive(emptyCollection)
const template = ref(null);
let ui = null;

function beginCreateCollection() {
  collectionCreateDialog.value = true;
  templateChosen.value = false;
  template.value = null;
  ui = null;
  Object.assign(collection, emptyCollection)
}

function selectTemplate() {
  templateChosen.value = true
  Object.assign(collection, emptyCollection)
  ui = getCollectionUi(target.value, template.value)
  collection.metadata = {}
}

function getEditor() {
  if (ui && ui.editor) {
    return ui.editor(template.value)
  } else {
    return CollectionEditor
  }
}

async function addNewCollection() {
  const newCollectionList = {
    template: template.value,
    collection
  };
  // API call to save collection
  await awsGateway.post('/create-collection', newCollectionList);
  closeDialog();
  //API call to get list of collections
  await loadCollections()
}

await loadCollections();

function closeDialog() {
  collectionCreateDialog.value = false;
  templateChosen.value = false
  template.value = null
}
</script>
<template>
  <h1>Collections</h1>
  <q-btn-toggle
    class="q-mb-sm"
    v-model="target"
    @update:model-value="onTargetChange"
    no-caps
    rounded
    toggle-color="primary"
    color="white"
    text-color="primary"
    :options=collectionChips
  />
  <PSearchRows v-if="collectionList"
               :rows="collectionList"
               :searchKeys="['title','collection_group','members','updated_at']"
               class="q-pb-md">
    <template v-slot:results="{results}">
      <!-- {{results}} -->
      <q-table
        ref="qTable"
        :rows="results"
        :columns="[ { name: 'name', label:'Title', field: 'title', align: 'left', sortable: true},
                          { name: 'group', label:'Group', field: 'collection_group', align: 'left',sortable: true},
                          { name: 'members', label:'Members', field: 'members', align: 'left',sortable: true},
                          { name: 'updated', label:'Updated', field: 'updated_at', align: 'left',sortable: true}]"
        row-key="row.collection_id"
        :rows-per-page-options="[10, 20, 50, 100]"
        v-model:pagination="pagination"
      >
        <template v-slot:body="props">
          <q-tr>
            <q-td>
              <router-link :to="`/collection/${props.row.collection_id}`">{{ props.row.title }}</router-link>
            </q-td>
            <q-td>
              {{ props.row.collection_group }}
            </q-td>
            <q-td>
              {{ props.row.members }}
            </q-td>
            <q-td>
              {{ formatDate(props.row.updated_at) }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <q-card-actions>
        <q-btn icon="add" color="primary" @click="beginCreateCollection">New</q-btn>
      </q-card-actions>
    </template>
  </PSearchRows>
  <q-dialog v-model="collectionCreateDialog" persistent>

    <q-card v-if="!templateChosen" style="min-width: 500px">
      <q-form @submit="selectTemplate">
        <q-card-section>
          <div class="text-h6">Create New Collection</div>
          <q-select label="Type" v-model="template"
                    :options="listOfTemplates" map-options emit-value option-value="template"
                    :rules="[rules.requireString]"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" type="submit">Next</q-btn>
          <q-btn @click="closeDialog">Cancel</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
    <component v-else :is="getEditor()" :collection="collection" :templateType="template" @save-collection="addNewCollection"
               @cancel="closeDialog"/>
  </q-dialog>

</template>
