<script setup>
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
const route = useRoute()
const router = useRouter()
import ReportPeriodsTable from "components/ReportPeriodsTable.vue";
import {
  l2,
  l3,
  c4,
  loadReportPeriodData
} from './reportPeriodReports'
await loadReportPeriodData()
const tabReportTypeSelected = ref(route.params.type)
const rows = ref([])
rows.value = route.params.type === 'C4'? c4 : route.params.type === 'L2'? l2 : route.params.type === 'L3'? l3 : [];

async function onTabChange() {
  let startYear = route.params.year
  await router.push({ name: 'ReportingPeriodList', params: { year: startYear, type: tabReportTypeSelected.value } });
  await loadReportPeriodData()
  const tmp = tabReportTypeSelected.value === 'C4' ? c4 : tabReportTypeSelected.value === 'L2' ? l2 : tabReportTypeSelected.value === 'L3' ? l3 : [];
  rows.value = tmp.length > 0 ? tmp : [];
}
</script>

<template>
  <div class="q-pa-md">
    <div class="q-gutter-y-md">
      <div>
        <h1>Reporting Periods Management</h1>
      </div>
      <q-btn-toggle
        v-model="tabReportTypeSelected"
        @click="onTabChange"
        rounded
        toggle-color="primary"
        no-caps
        :options="[
          {label: `C4 report periods`, value: 'C4'},
          {label: 'L2 report periods', value: 'L2'},
          {label: 'L3 report periods', value: 'L3'}
          ]"
        class="q-mb-lg"
      />
      <q-space/>
      <q-card>
        <ReportPeriodsTable :rows="rows" :tab="tabReportTypeSelected"/>
      </q-card>
    </div>
  </div>
</template>
