<script setup>
/**
 * This component creates new reporting periods for L2, L3 and C4's based on a year range.
 * Allows entering in new dates and generating a preview of L2, L3 and C4 reporting periods, C4 Monthly reporting
 *     periods and C4 elections table data.
 * Allows for editing of:
 *   - due date: This date is editable so that staff can respond to a problem such as an outage.
 *   - reminder date: This date is editable so that staff can respond to sending outreach notices.
 *
 * Allows the generation of and preview of the following reports based on the parameter year::year and pReportType::reporting_period_type
 *   - pReportType::L2: Monthly reporting periods dates
 *   - pReportType::L3: Annual reporting periods dates
 *   - pReportType::C4: February & April Special reporting periods dates
 *               Primary & General reporting periods dates
 *               Monthly reporting periods dates
 *         and C4 election dates
 *
 * @todo: For C4 election dates, each input field needs to be restricted to the month and cannot select outside of that.
 */
import {ref, computed } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import {period_dates, l2_l3_dates, createC4ElectionDates, saveElectionDates, generateReportPeriods, changeIfLeapYear } from "pages/reportPeriodGenerator";

const route = useRoute()
const router = useRouter()
const lobbyistDialog = ref(false)
const c4Dialog = ref(false)
const editFields = ref({  election_code: '',  title: '',  is_primary: '',  is_special: '',  is_general: '', election_date: '' })

/**
 * Columns for the datatable
 * @pReportType {[{field: string, name: string, label: string, align: string, required: boolean},{field: string, name: string, label: string, align: string, required: boolean},{field: string, name: string, label: string, align: string, required: boolean},{field: string, name: string, label: string, align: string, required: boolean},{field: string, name: string, label: string, align: string, required: boolean},null,null]}
 */
const columns = [
  { name: 'report_type', required: true, label: 'Type', align: 'left', sortable: true, field: 'report_type' },
  { name: 'reporting_period_type', required: true, label: 'Reporting period', align: 'left', sortable: true, field: 'reporting_period_type' },
  { name: 'start_date', required: true, label: 'Start date', align: 'left', sortable: true, field: 'start_date' },
  { name: 'end_date', required: true, label: 'End date', align: 'left', sortable: true, field: 'end_date' },
  { name: 'due_date', required: true, label: 'Due date', align: 'left', sortable: true, field: 'due_date' },
  { name: 'election_date', required: true, label: 'Election date', align: 'left', sortable: true, field: 'election_date' },
  { name: 'reminder_date', required: true, label: 'Reminder date', align: 'left', sortable: true, field: 'reminder_date' }
]
// rows v-model for the datatable
const rows = ref([])
// the v-model of the editing dialog
const editRowDialog = ref(false)
// the v-model for l2 & l3 dialog input for the start of the due date generation
const startYear = ref(route.params.year)
// the v-model for l2 & l3 dialog input for the end of the due date generation
const endYear = ref('')

/**
 * load row data into the dialog fields, then show the editing dialog
 * @param row
 */
const editNew = (row) => {
  editFields.value = { reporting_period_id: row.reporting_period_id, reporting_period_type: row.reporting_period_type,
    election_date: row.election_date, start_date: row.start_date, end_date: row.end_date, due_date: row.due_date,
    report_type: row.report_type, reminder_date: row.reminder_date }
  editRowDialog.value = true
}


/**
 * on component load get the pReportType of report and open the correct dialog
 */
const pReportType = ref(route.params.type);
function openDialog() {
  if (pReportType.value === 'C4') {
    c4Dialog.value = true
  } else {
    lobbyistDialog.value = true
  }
}
/**
 * Handle the date generation for L2, and L3
 * @returns {Promise<void>}
 */
async function onLobbyistDatesSubmit() {
  await generateReportPeriods(startYear.value, endYear.value, pReportType.value)
  rows.value =[];
  rows.value = l2_l3_dates.value;
  lobbyistDialog.value = false
}

/**
 * Handle the date generation for C4
 * @returns {Promise<void>}
 */
async function onSubmitC4Dates() {
  await createC4ElectionDates(editFields.value)
  rows.value = []
  rows.value = period_dates
  c4Dialog.value = false
}

/**
 * Handle the saving of Due Dates and redirection back to the list
 * @returns {Promise<void>}
 */
async function onSaveDueDates() {
  await saveElectionDates(rows)
    router.push({ name: 'ReportingPeriodRedirection', params: { year: startYear.value, type: pReportType.value } });
}
const febMinMonth = ref('')
const febMaxMonth = ref('')
const aprMinMonth = ref('')
const aprMaxMonth = ref('')
const priMinMonth = ref('')
const priMaxMonth = ref('')
const genMinMonth = ref('')
const genMaxMonth = ref('')

febMinMonth.value = startYear.value+"-02-01"
febMaxMonth.value = await changeIfLeapYear(startYear.value+"-02-01")
aprMinMonth.value = startYear.value+"-04-01"
aprMaxMonth.value = startYear.value+"-04-30"
priMinMonth.value = startYear.value+"-08-01"
priMaxMonth.value = startYear.value+"-08-31"
genMinMonth.value = startYear.value+"-11-01"
genMaxMonth.value = startYear.value+"-11-30"

openDialog()
</script>

<template>
  <div class="q-pa-md">
    <div class="q-gutter-y-md">
      <div>
        <h1>New {{ pReportType }} report period dates</h1>
      </div>
      <q-card>
        <q-card-section>
          <p>
            Saving redirects to the Reporting Periods Management page to edit dates.
          </p>
          <q-table
            :rows="rows"
            flat
            separator="cell"
            bordered
            :columns="columns"
            row-key="reporting_period_id"
            :rows-per-page-options="[5, 12, 25]"
            rows-per-page-label="Reporting period records per page"
          >
            <template v-slot:body-cell-actions="props">
              <q-td :props="props">
                <p-accessible-button
                  @click="editNew(props.row)"
                  button-tooltip="Edit"
                  color="primary"
                  label="Edit"
                />
              </q-td>
            </template>
            <template v-slot:top-left>
              <div class="row">
                <div class="col-12">
                  <q-btn :to="{ name: 'ReportingPeriodRedirection', params: { year: startYear.value, type: pReportType.value } }" color="primary" outline label="Cancel" />
                  <q-btn class="q-ml-sm" color="primary" label="Save" @click="onSaveDueDates(rows)" />
                  <q-btn class="q-ml-sm" color="secondary" label="Re-enter dates" @click="openDialog" />
                </div>
              </div>
            </template>
          </q-table>
        </q-card-section>
      </q-card>
    </div>
  </div>

  <q-dialog v-model="lobbyistDialog" persistent>

    <q-card>
      <q-card-section class="bg-primary text-white">
        <div class="text-h2">{{target}} Election Dates</div>
      </q-card-section>
      <q-card-section>
        Enter the election dates for the following elections:
      </q-card-section>
      <q-form @submit="onLobbyistDatesSubmit">
      <q-card-section>

        <q-input
          readonly
          v-model="startYear"
          label="Reporting reporting periods table"
          hint="Earliest year you can generate report reporting periods for"
      />
        <q-input v-model="endYear"
          label="End year"
          hint="Latest year to generate report reporting periods for"
        />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn
          flat
          label="Cancel"
          color="primary"
          :to="{ name: 'ReportingPeriodList'}" />
        <q-btn
          type="submit"
          label="Submit"
          color="primary"
        />
      </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="c4Dialog" persistent>
      <q-card>
        <q-card-section class="bg-primary text-white">
          <div class="text-h2">C4 Election Dates</div>
        </q-card-section>
        <q-card-section class="text-h5">
          Enter election dates for <strong>{{ startYear }}</strong>
        </q-card-section>
        <q-form @submit="onSubmitC4Dates">
          <q-card-section>
            <p-date-picker
              v-model="editFields.february_date"
              label="February special"
              required
              :min-date="febMinMonth"
              :max-date="febMaxMonth"
              hint="i.e. 2024/02/05"
            />
            <p-date-picker
              v-model="editFields.april_date"
              label="April special"
              required
              :min-date="aprMinMonth"
              :max-date="aprMaxMonth"
              hint="i.e. 2024/04/05"
            />
            <p-date-picker
              v-model="editFields.primary_date"
              label="Primary election"
              hint="i.e. 2024/08/05"
              required
              :min-date="priMinMonth"
              :max-date="priMaxMonth"
            />
            <p-date-picker
              v-model="editFields.general_date"
              label="General election"
              hint="i.e. 2024/11/05"
              required
              :min-date="genMinMonth"
              :max-date="genMaxMonth"
            />
          </q-card-section>
          <q-card-actions align="right">
          <q-btn
            flat
            label="Cancel"
            color="primary"
            :to="{ name: 'ReportingPeriodList'}"
          />
          <q-btn
            label="Submit"
            color="primary"
            type="submit"
          />
        </q-card-actions>
        </q-form>
      </q-card>
  </q-dialog>


</template>
