<script setup>
import {computed, reactive, ref} from "vue";
import {useQuasar} from "quasar";
import {useCaseTracker} from "src/compliance";

const defaultCaseData = {
  description: "",
  tags: [],
  complainant: "PDC Staff",
}

const props = defineProps({
    // The collection metadata to store
    collection: {
      type: Object,
      required: true,
    },
    // Members to create cases for.
    members: {
      type: Array,
      required: true,
    }
  })

const $q = useQuasar();
const collection = reactive(props.collection);
const caseFieldData = reactive(Object.assign(defaultCaseData, (props.collection.metadata ?? {})))
const showCreateCaseDialog = ref(false)
const timeLeft = ref(0)
const waiting = ref(false)
const casesGenerated = ref(0)
const casesToGenerate = ref(0)
const showProgress = ref(false)
const {caseLookup, awsGateway, caseTrackerService}  = await useCaseTracker()

function promptForCaseCreation() {
  recalcMembersWithOutCases();
  casesGenerated.value = 0;
  casesToGenerate.value = membersWithoutCases.value.length;
  if (membersWithoutCases.value.length > 0) {
    showCreateCaseDialog.value = true;
  }
  else {
    $q.dialog({title: "Case creation", message: "All members have cases."})
  }
}

const filteredTags = ref([])
function doFilterTags(val, update) {
  update(() => {
    filteredTags.value = caseLookup.area_of_law.filter(f =>  f.field_value.toLowerCase().includes(val.toLowerCase()))
  })
}

const membersWithoutCases = ref([])
function recalcMembersWithOutCases() {
  membersWithoutCases.value = props.members.filter((e) => !e.compare_id)
}
recalcMembersWithOutCases();

const progressBarValue = computed(() =>  {
  let denominator =  casesToGenerate.value;
  let top = casesGenerated.value % denominator;
  denominator = denominator <= 100 ? denominator : 100;
  if (denominator === 0 || casesGenerated.value === denominator) {
    return 1;
  }
  return top / denominator;
})

async function generateTicketForMember() {
  const member = membersWithoutCases.value[0]
  const complianceCase = {
    subject: caseFieldData.subject
  }
  complianceCase.description_html = caseFieldData.description ?? null
  complianceCase.complainant_name = caseFieldData.complainant ?? null
  complianceCase.respondent_name = member.name ?? member.label ?? null
  if (collection.target === 'candidacy') {
    let pc = caseLookup.political_category.find(
      c => c.jurisdiction_categories.includes(member.jurisdiction_category));
    if (pc) {
      complianceCase.political_category = pc.field_value;
    }
  }
  complianceCase.group_enforcement = caseFieldData.group_enforcement ?? null;
  complianceCase.tags = caseFieldData.tags ?? null;
  const result  = await caseTrackerService.post('case-gen', {member_id: member.member_id, values: complianceCase}, false)
  const response = result.data;

  if (response) {
    if (response.status === 'wait') {
      let date = new Date();
      let hour = date.getHours();
      date.setHours(hour+1);
      date.setMinutes(0);
      waiting.value = date;
      date = new Date();
      timeLeft.value = waiting.value - date;
    }
    else {
      let updated = props.members.find(c => c.target_id === response.target_id);
      updated.compare_id = response.compare_id;
      casesGenerated.value ++;
      recalcMembersWithOutCases()
    }
    if (response.status !== 'next' || membersWithoutCases.value.length < 1) {
      $q.loading.hide()
    }
    if (membersWithoutCases.value.length < 1 ){
      showCreateCaseDialog.value = false;
    }
    else {
      await generateTicketForMember();
    }
  }
}

// Function used to trigger case creation
async function createComplianceCases() {
  showProgress.value = true;
  $q.loading.show()
  // update the metadata for collection
  const {collection_id} = collection
  Object.assign(collection.metadata, caseFieldData)
  await awsGateway.post(`collection/${collection_id}/update-metadata`, {metadata: collection.metadata}, false)

  // Generate the ticket for the first member and call recursively.
  await generateTicketForMember();
  recalcMembersWithOutCases();
  casesToGenerate.value = membersWithoutCases.value.length
  casesGenerated.value = 0
  showProgress.value = false;
  $q.loading.hide();
}

// Computed property to show current status of case creation.
const casesGeneratedText = computed(() => {
  let casesLeft = membersWithoutCases.value.length;
  let text = casesGenerated.value + " cases generated. There are " + casesLeft + " cases that still need to be generated.";
  if (timeLeft.value > 0) {
    let minutes = Math.floor((timeLeft.value % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((timeLeft.value % (1000 * 60)) / 1000);
    return  text + " More cases can be generated in " + minutes + " minutes and " + seconds + " seconds.";
  }
  else {
    return text;
  }
})

</script>

<template>
  <q-btn outline color="primary" label="Create Case" @click="promptForCaseCreation"></q-btn>
  <q-dialog v-model="showCreateCaseDialog" persistent>
    <q-card>
      <q-form @submit="createComplianceCases">
        <q-card-section>
          <h3>Create cases</h3>
          <q-input v-model="caseFieldData.subject" label="Subject"></q-input>
          <span style="color:rgba(0,0,0,0.56)" > Description </span>
          <q-editor v-model="caseFieldData.description" ></q-editor>
          <q-input v-model="caseFieldData.complainant" label="Complainant"></q-input>
          <q-select v-model="caseFieldData.tags" label="Tags"
                    :options="filteredTags"
                    use-input
                    multiple
                    option-label="field_value"
                    option-value="field_value"
                    emit-value
                    clearable
                    @filter="doFilterTags"
          />
          <q-select v-model="caseFieldData.group_enforcement" label="Group enforcement"
                    :options="caseLookup.group_enforcement"
                    option-label="field_value"
                    option-value="field_value"
                    emit-value
          />
          <p class="q-mt-md" v-if="membersWithoutCases.length">Creating cases for {{casesToGenerate}} members.</p>
          <div v-if="showProgress">
            <p >{{casesGeneratedText}}</p>
            <q-linear-progress :value="progressBarValue" color="primary" class="q-mt-sm"  />"
          </div>
        </q-card-section>
        <q-card-actions>
          <q-btn type="submit" color="primary" label="Create cases"/>
          <q-btn icon="cancel" label="Cancel" @click="showCreateCaseDialog = false"/>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

</template>

