<script setup>
import { computed, ref } from "vue"
import {formatC4ReportType} from "src/compliance";

const props = defineProps(["row", "collection", "col"])

const parsedMetadata = computed(() => {
return JSON.parse(props.row.metadata || '{}')
})

const summary = computed(() => {
  const reports = parsedMetadata.value.reports || []
  let total = 0
  let filed = 0
  reports.forEach(r => {
    if (r.is_filed && r.reporting_type === 'full') {
      filed++
    }
    if (r.reporting_period_type && r.reporting_type === 'full') {
      total++
    }
  });
  return { total, filed }
});

const showInfo = ref(false)

function getStatus(type) {
  const reports = parsedMetadata.value.reports || []
  const report = reports.find(r => r.reporting_period_type === type)
  if (report) {
    if (report.reporting_type === "mini") {
      return "exempt (mini filer)"
    }
    return report.is_filed ? "filed" : "missing"
  }
}
</script>

<template>
  <div>
    <a :href="`#row-${props.row.member_id}`" @click.prevent="showInfo=true">
      {{ summary.filed }}/{{ summary.total }}
    </a>
    <q-dialog v-model="showInfo">
      <q-card>
        <q-card-section>
          <q-list v-if="parsedMetadata.reports && parsedMetadata.reports.length">
            <h3>Summary of Reports: {{ props.row.ballot_name }}</h3>
            <q-item v-for="report in parsedMetadata.reports" :key="report.reporting_period_type">
              <q-item-section>{{ formatC4ReportType(report.reporting_period_type) }}</q-item-section>
              <q-item-section side>{{ getStatus(report.reporting_period_type) }}</q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
        <q-card-actions>
          <q-btn label="Ok" color="primary" @click="showInfo=false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

