<script setup>
import {computed, ref} from "vue";
import moment from 'moment'
const props = defineProps(["row", "collection", "col"])
const summary = computed(() => {
  let total = 0
  let filed = 0
  if (props.row && props.row.metadata && props.row.metadata.reports)  {
    props.row.metadata.reports.forEach(r => {
      if (r.status === "filed") {
        filed++;

      }
      if (r.status !== 'exempt') {
        total++;
      }
    })
    return {total, filed}
  }
  return {}
})

const showInfo = ref(false);
const  months = computed(() => {
  console.log(props.collection.metadata)
  return moment.monthsShort()
    .map((m, i) => ({label: m, value: i + 1}))
    .filter((m) => (m.value >= props.collection.metadata.start_month) && (m.value <= props.collection.metadata.end_month) )
})

function getStatus(month) {
  if (props.row && props.row.metadata && props.row.metadata.reports) {
    const report = props.row.metadata.reports.find(r => r.m === month)
    return report ? report.status : null
  }
}
</script>

<template>
  <a :href="`#row-${row.member_id}`" @click.prevent="showInfo=true">{{summary.filed}}/{{summary.total}}</a>
  <q-dialog v-model="showInfo">
   <q-card>
     <q-card-section>
       <q-list>
         <q-item v-for="month in months" :key="`month-${month.value}`">
           <q-item-section>{{month.label}}</q-item-section>
           <q-item-section side>{{ getStatus(month.value) }}</q-item-section>
         </q-item>
       </q-list>

     </q-card-section>
     <q-card-actions>
       <q-btn label="Ok" color="primary" @click="showInfo=false"/>
     </q-card-actions>

   </q-card>
  </q-dialog>
</template>

