<script setup>
  import {computed} from "vue";
  import {useApollo} from "@wapdc/pdc-ui/application";
  const apollo = await useApollo('');
  const apollo_url = apollo.url;

  const props = defineProps({
    collection: Object,
    row: Object
  })

  const link = computed(() => {
    switch (props.collection.target) {
      case 'lobbyist_firm':
        return `${apollo_url}lobbyist/#/firm/${props.row.target_id}`
      case 'lobbyist_client':
        return `${apollo_url}lobbyist/#/client/${props.row.target_id}`
      case 'jurisdiction':
        return `${apollo_url}data-admin/jurisdiction/${props.row.target_id}`
      case 'committee':
        return `${apollo_url}campaigns/committee?committee_id=${props.row.target_id}`
      case 'candidacy':
      case 'person':
      case 'officials':
        return `${apollo_url}data-admin/person/${props.row.person_id}`
    }
    return ''
  })

</script>

<template>
  <a :href="link" target="_blank">{{props.row.name}}</a>
</template>

<style scoped>

</style>
