<script setup>
/**
 * This component displays L2, L3 and C4 reporting periods in a DataTable from values passed from a parent component.
 * Allows for editing of the due date & reminder date, saving to the database and finally refreshes the datatable with
 *     the new rows added.
 * Allows for querying a new year to fetch & display new L2, L3 or C4 data in the datatable if the data is available.
 * Allows the creation of new report periods for a selected year when the Year returns no rows.
 * Allows for switching between L2, L3 and C4 reporting periods based on the selected year.
 */
import { ref, computed } from "vue";
import rules from '@wapdc/pdc-ui/rules'
import { useRoute } from "vue-router";
import {editReportPeriod, loadReportPeriodData, resetTable, selectedYear} from "pages/reportPeriodReports";
const route = useRoute();
const props = defineProps({
  rows: {type: Array},
  tab: {type: String}
})



const editRowDialog = ref(false);

const editFields = ref(
  { reporting_period_id: '', reporting_period_type: '', election_date: '', start_date: '', end_date: '',
    due_date: '', reminder_date: '', report_type: '' }
)
const editRow = (row) => {
    editFields.value = row;
    // extract the year from the start_date
    const year = new Date(row.start_date).getFullYear();
    dueDateMinimum.value = `${year}-01-01`;
    dueDateMaximum.value = `${year}-12-31`;
    reminderDateMinimum.value = `${year}-01-01`;
    reminderDateMaximum.value = `${year}-12-31`;
    editRowDialog.value = true;
}

const columns = [
  { name: 'report_type', required: true, label: 'Type', align: 'left', field: 'report_type', sortable: true },
  { name: 'reporting_period_type', required: true, label: 'Reporting period', align: 'left', field: 'reporting_period_type', sortable: true },
  { name: 'start_date', required: true, label: 'Start date', align: 'left', field: 'start_date', sortable: true },
  { name: 'end_date', required: true, label: 'End date', align: 'left', field: 'end_date', sortable: true },
  { name: 'due_date', required: true, label: 'Due date', align: 'left', field: 'due_date', sortable: true },
  { name: 'election_date', required: true, label: 'Election date', align: 'left', field: 'election_date', sortable: true },
  { name: 'reminder_date', required: true, label: 'Reminder date', align: 'left', field: 'reminder_date', sortable: true },
  { name: 'actions', label: 'Actions', align: 'center' }
]


async function onSubmitChanges() {
  await editReportPeriod(editFields.value)
  editFields.value = { reporting_period_id: '', reporting_period_type: '', election_date: '', start_date: '', end_date: '',
    due_date: '', reminder_date: '', report_type: '' }
  editRowDialog.value = false
}

const onEnterChangeYear = () => {
  resetTable()
  selectedYear.value = parseInt(selectedYear.value)
  loadReportPeriodData()
}

// create a function that disables the "Create new report periods" button when the table has rows
const disableCreateButton = computed(() => props.rows.length > 0);
const dueDateMinimum = ref('')
const dueDateMaximum = ref('')
const reminderDateMinimum = ref('')
const reminderDateMaximum = ref('')

selectedYear.value = route.params.year;
await loadReportPeriodData()

</script>

<template>
  <q-card-section>
    <q-form @submit="onEnterChangeYear()">
      <q-input v-model="selectedYear" label="Report year" class="q-py-sm" :rules="[rules.required]"/>
    </q-form>
    <q-space/>
    <q-table class="q-py-sm" :rows="rows" flat separator="cell" bordered :columns="columns">
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <q-btn @click="editRow(props.row)" button-tooltip="Edit" color="primary" label="Edit"/>
        </q-td>
      </template>
      <template v-slot:top-left>
        <div>
          <q-btn
            outline
                 color="primary"
                 label="Create new report periods"
                 :to="{ name: 'ReportingPeriodGenerator', params: { type: tab, year: selectedYear }  }"
                 :disable="disableCreateButton" />
          <div class="q-py-md" v-if="!disableCreateButton">
            ** You can make new {{ selectedYear }} dates for {{ tab }} reports by smashing the button above.
          </div>
          <div class="q-py-md" v-else>
            You can smash the "Create New Report Period" dates if no data appears in the table below.
          </div>
        </div>
      </template>
    </q-table>
  </q-card-section>

  <q-dialog v-model="editRowDialog" persistent>
    <q-card>
      <q-card-section class="bg-primary text-white">
        <div class="text-h2">Edit {{ editFields.reporting_period_type }} due date</div>
      </q-card-section>
      <q-form @submit="onSubmitChanges">
        <q-card-section>
          <p-date-picker
            v-model="editFields.due_date"
            label="Due Date"
            required
            :min-date="dueDateMinimum"
            :max-date="dueDateMaximum"
          />
          <p-date-picker
            v-model="editFields.reminder_date"
            label="Reminder Date"
            :min-date="reminderDateMinimum"
            :max-date="reminderDateMaximum"
          />
      </q-card-section>
        <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" @click="editRowDialog = !editRowDialog"/>
        <q-btn label="Save" color="primary" type="submit"/>
      </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

</template>
