<script setup>
import { reactive, ref, computed } from 'vue';
import { useCompliance } from "src/compliance";

const props = defineProps(['member', 'row', 'col', 'collection_id', 'collection']);
const row = reactive(props.row);
const contacts = ref([]);
const selectedContacts = ref([]);
const showDialog = ref(false);
const { awsGateway } = await useCompliance();
const collection = props.collection;

/**
 * Fetches contacts from the API based on the target ID and updates the contacts state.
 * @async
 * @param {String} targetId - The target ID for which to fetch contacts.
 */
const getContacts = async (targetId) => {
  try {
    const fetchedContacts = await awsGateway.get(`/contacts/${ props.collection.target }/${ targetId }`);
    contacts.value = fetchedContacts.reduce((acc, contact) => {
      if (contact.email) {
        const emailLower = contact.email.toLowerCase().trim();
        // Ensure unique emails are added to the contacts list
        if (!acc.find(c => c.email.toLowerCase() === emailLower)) {
          acc.push({ ...contact, email: emailLower });
        }
      }
      return acc;
    }, []);
  } catch (error) {
    alert("Failed to get contacts");
  }
};

/** Separator used to split and join email strings. */
const separator = ';';

/**
 * Opens the contact selection dialog and fetches contacts for the current row.
 */
const openDialog = async () => {
  await getContacts(row.target_id);
  // Pre-select contacts that are already in the row's email field
  selectedContacts.value = row.email.split(separator).map(email => email.toLowerCase().trim());
  showDialog.value = true;
};

/**
 * Updates the selected contacts for the current row and the member's email in the collection.
 */
const updateContacts = async () => {
  try {
    const updatedMember = {
      target_id: row.target_id,
      email: selectedContacts.value.join(separator),
      collection_id: props.collection_id
    };
    await awsGateway.post('/collection/update-member-contact/', updatedMember);
    row.email = selectedContacts.value.join(separator);
    const memberIndex = props.collection.members.findIndex(member => member.member_id === row.member_id);
    if (memberIndex !== -1) {
      collection.members[memberIndex].email = updatedMember.email;
    }
  } catch (error) {
    alert("Could not update contacts");
  }
};

/**
 * Confirms the contact selection and updates the contacts.
 */
const handleConfirm = async () => {
  if (selectedContacts.value.length > 0) {
    await updateContacts();
    showDialog.value = false; // Close the dialog after updating
  } else {
    alert('Please select at least one contact');
  }
};

/**
 * Toggles the selection of a contact.
 * @param {Object} contact - The contact to toggle.
 */
const toggleContactSelection = (contact) => {
  const index = selectedContacts.value.findIndex(email => email === contact.email);
  if (index === -1) {
    selectedContacts.value.push(contact.email);
  } else {
    selectedContacts.value.splice(index, 1);
  }
};

/**
 * Check if a contact is selected.
 * @type {Function}
 * @returns {Function} A function that takes an email and returns a boolean indicating if the email is selected.
 */
const isSelected = computed(() => {
  return (email) => selectedContacts.value.includes(email);
});

</script>

<template>
  <div>
    <a @click.prevent="openDialog" href="#" class="fw-normal">
      <div v-for="email in (row.email ? row.email.split(separator) : [])" :key="email" class="email-line">{{ email }}</div>
    </a>
    <q-dialog v-model="showDialog">
      <q-card style="min-width: 320px;">
        <q-card-section>
          <div class="text-h6">Select Contacts</div>
        </q-card-section>

        <q-card-section class="q-pa-none">
          <q-list>
            <q-item v-for="(contact, index) in contacts" :key="index"
                    clickable
                    v-ripple
                    @click="toggleContactSelection(contact)">
              <q-item-section class="q-py-none q-pl-none justify-left item-section">
                <q-checkbox :model-value="isSelected(contact.email)"
                            @update:model-value="toggleContactSelection(contact)"
                            class="q-mr-sm"
                            color="primary"
                            size="sm">
                </q-checkbox>
                {{ contact.email }}
                <span class="q-badge text-bold q-ml-sm">{{ contact.source }}</span>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn color="primary" flat label="Cancel" @click="showDialog = false"/>
          <q-btn color="primary" flat label="OK" @click="handleConfirm"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<style scoped>
.fw-normal {
  font-weight: normal;
}
.justify-left {
  justify-content: flex-start;
}
.item-section {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.item-section > .q-badge {
  transition: opacity .3s ease;
  opacity: .5
}
.item-section:hover > .q-badge,
.item-section > .q-checkbox[aria-checked="true"] + .q-badge {
  opacity: 1
}
</style>
